body {
  background-color: black;
}

input[type=submit] {
  background-color: #444444;
  text-emphasis-color: white;
  width: 30px;
}

#pw1 {
  position: absolute;
  top: 50%;
  left: 40%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.bottomimage {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.topimage {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 54%;
  left:17%;
  opacity: 0.4;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.pixelated {
  image-rendering: pixelated;
}
.leftdir:hover {
  cursor: nw-resize;
}
.rightdir:hover {
  cursor: ne-resize;
}
.forward:hover {
  cursor: cell;
}
.inspect:hover {
  cursor: zoom-in;
}
.backout:hover {
  cursor: zoom-out;
}
