body {
  background-color: black;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.pixelated {
  image-rendering: pixelated;
}
.leftdir:hover {
  cursor: nw-resize;
}
.rightdir:hover {
  cursor: ne-resize;
}
.forward:hover {
  cursor: cell;
}
.inspect:hover {
  cursor: zoom-in;
}
.backout:hover {
  cursor: zoom-out;
}
